//BASE CONFIGURATION

//FONT
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,400i,700,700i');

//For memory: Title font --> Black Ops One

body {
    font-family: 'Chakra Petch',sans-serif;
    color: $electric-yellow;
    background-color: $gray-less-dark;
}

a {
    text-decoration: none;
    color: $a;
}

a:hover {
    text-decoration: none;
    color: $a-hover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 1.8em;
    color: $electric-yellow;
}

h2 {
    font-size: 1.4em;
    color: $electric-yellow;
}

h3 {
    font-size: 1.2;
}

html {
    box-sizing: border-box;
}