// FOOTER SECTION
// Mobile First

.footer {
    background-color: $gray-dark;
    text-align: center;
    width: 100%;
    margin-top: 3em;
    padding: 0.5em;
    border-top: 1px solid $electric-yellow;
    bottom: 0;
}