.menu-lg {
    //padding: 0em 2em;
    width: 100%;
    height: 2em;
    position: fixed;
    z-index: 10;
    background-color: $gray-dark;
    border-bottom: 1px solid $electric-yellow;
    text-align: center;
}

.menu-lg ul {
    display: flex;
    justify-content: space-between;
}

.menu-lg li {
    //display: inline;
    font-weight: bold;
    padding: 0.2em;
    width: 25%;
}

.menu-lg a {
    color: $electric-yellow;
}

.menu-lg li:hover {
    //color: $a-hover;
    background-color: black;
    border-right: 1px solid $electric-yellow;
    border-left: 1px solid $electric-yellow;
    cursor:  pointer;
}

@media (max-width: 768px) {
    .menu-lg{
        display: none;
    }
}




